<div class="wy-grid-for-nav">
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
        <div class="wy-side-scroll">
            <div class="wy-side-nav-search">
                <a href="https://nguyenlab.github.io/index.html">
                    <img src="https://nguyenlab.github.io/img/jaist.jpg" class="logo">
                </a>
                <!--                        <div role="search">
                                            <form id="rtd-search-form" class="wy-form" action="http://nguyenlab.github.io/docs/search.html" method="get">
                                                <input type="text" name="q" placeholder="Search docs">
                                                <input type="hidden" name="check_keywords" value="yes">
                                                <input type="hidden" name="area" value="default">
                                            </form>
                                        </div>-->
            </div>

            <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
                <p class="caption"><span class="caption-text">HOME</span></p>
                <ul class="current">
                    <li class="toctree-l1 current"><a class="current reference internal" href="https://nguyenlab.github.io/member/professor.html"><span class="toctree-expand"></span>Professor</a>
<!--                        <ul>
                            <li class="toctree-l2"><a class="reference internal" href="professor.html#about">About</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="professor.html#degree">Degree</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="professor.html#professional-career">Professional career</a></li>
                        </ul>-->
                    </li>
                    <li class="toctree-l1 current"><a class="current reference internal" href="https://nguyenlab.github.io/"><span class="toctree-expand"></span>News</a>
                    </li>
                    <li class="toctree-l1 current"><a class="current reference internal" href="https://nguyenlab.github.io/section/member.html"><span class="toctree-expand"></span>Member</a><ul>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/postdoc.html">Postdoc</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/phd.html">PhD</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/master.html">Master</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/alumi.html">Alumi</a></li>
                        </ul>
                    </li>
                    <li class="toctree-l1 current"><a class="current reference internal" href="https://nguyenlab.github.io/section/publication-2017.html"><span class="toctree-expand"></span>Publication</a><ul>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/publication-2017.html">2017</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/publication-2016.html">2016</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/publication-2015.html">2015</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/publication-2014.html">2014</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/publication-before-2014.html">Before 2014</a></li>
                        </ul>
                    </li>

                    <li class="toctree-l1 current"><a class="current reference internal" href="https://nguyenlab.github.io/section/resource.html"><span class="toctree-expand"></span>Resources</a><ul>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/software.html">Source code</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/corpus.html">Corpus</a></li>
                            <li class="toctree-l2"><a class="reference internal" href="https://nguyenlab.github.io/section/external.html">External</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">
        <nav class="wy-nav-top" role="navigation" aria-label="top navigation">
            <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
        </nav>

        <div style="margin: 0px; padding:0px;">
            <div class="wy-nav-content" style="padding:5px">
                <img src="https://nguyenlab.github.io/img/sakura.png" style="max-height: 200px">
            </div>
            <div class="wy-nav-content">
                <div class="rst-content">
                    <div id="markdown-text"></div>
                    <footer>
                        <!--                    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
                                                <a href="http://nguyenlab.github.io/docs/notes/cuda.html" class="btn btn-neutral float-right" title="CUDA semantics" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
                                                <a href="http://nguyenlab.github.io/docs/index.html" class="btn btn-neutral" title="PyTorch documentation" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
                                            </div>-->
                        <hr>
                        <div role="contentinfo">
                            <p>Copyright 2017, Nguyen Laboratory, JAIST, Japan.</p>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    var DOCUMENTATION_OPTIONS = {
        URL_ROOT: '../',
        VERSION: '0.1.12',
        LANGUAGE: 'None',
        COLLAPSE_INDEX: false,
        FILE_SUFFIX: '.html',
        HAS_SOURCE: true,
        SOURCELINK_SUFFIX: '.txt'
    };
</script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/underscore.js"></script>
<script type="text/javascript" src="js/doctools.js"></script>
<script type="text/javascript" src="js/theme.js"></script>
<script type="text/javascript">
    jQuery(function () {
        SphinxRtdTheme.StickyNav.enable();
    });
</script>
